<div class="container">
    <div class="row">
        <div class="col-md-12 text-right">
            <a href="#" class="btn btn-primary add-product-btn">
                Cadastrar Produto
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div>
    <br>


    <div class="row">
        <% if(products.length == 0){ %>
            <p>Nenhum produto foi cadastrado.</p>
        <% } else{ %>
        <table class="table">
            <tr>
                <th>
                    Produto
                </th>
                <th>
                    Descrição
                </th>
                <th>
                    Cor
                </th>
                <th>
                    Estado
                </th>
                <th>
                    Preço
                </th>
                <th>
                    Imagem
                </th>
                <th></th>
            </tr>

                <% _.each(products, function(product) { %>
                    <% if (product.photo == null) { imgUrl = 'nophoto.png' }else{ imgUrl = product.photo } %>
                    <tr>
                        <td><%= product.ProductType.name %> | <%= product.ProductType.version %></td>
                        <td><%= product.description %></td>
                        <td><%= product.color %></td>
                        <td><%= product.state %></td>
                        <td>R$ <%= product.price %></td>
                        <td>
                            <a href="/uploads/<%= imgUrl %>" target="_blank">
                                <i class="fa fa-photo"></i>
                            </a>
                        </td>
                        <td>
                            <a href="#" class="edit-product-btn" product-id="<%= product.id %>">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
        </table>
        <% } %>
    </div>
</div>

<script type="text/javascript">

    $('document').ready(function() {
        $('.add-product-btn').on('click', function() {
            $.get("/product/add", function( data ) {
                $( "#actionModal" ).html( data ).modal();
            });
        });

        $('.edit-product-btn').on('click', function() {
            var productId = $(this).attr('product-id');

            $.get(`/product/edit/${productId}`, function( data ) {
                $( "#actionModal" ).html( data ).modal();
            });
        });

    });

</script>
