
<div class="container">
        <% if (req.session.flash && req.session.flash.error) { %>
            <div class="alert alert-danger">
                <%=req.flash('error')%>
            </div>
        <% } %>

    <!-- <div class="row">
        <div class="col-md-12 text-right">
            <a href="/producttype/add" class="btn btn-elegant add-product-btn pull-left">
                Cadastrar Tipo de Produto
                <i class="fa fa-plus"></i>
            </a>
            <a href="/product/add" class="btn btn-primary add-product-btn">
                Cadastrar Produto
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </div> -->
    <br>
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-title">Produtos</h1>
        </div>
    </div>

    <div class="row">
        <% if(products.length == 0){ %>
            <div class="col-md-12">
                <p>Nenhum produto foi cadastrado.</p>
            </div>
        <% } else{ %>
            <div class="table-responsive col-md-12">
                <table class="table">
                    <tr>
                        <th>
                            Produto
                        </th>
                        <th>
                            Descrição
                        </th>
                        <th>
                            Cor
                        </th>
                        <th>
                            Estado
                        </th>
                        <th>
                            Preço
                        </th>
                        <th>
                            Imagem
                        </th>
                        <th></th>
                    </tr>

                        <% _.each(products, function(product) { %>
                            <% if (product.photo == null || product.photo.length == 0) { imgUrl = 'nophoto.png' }else{ imgUrl = product.photo } %>
                            <tr>
                                <td><%= product.ProductType.name %> | <%= product.ProductType.version %></td>
                                <td><%= product.description %></td>
                                <td><%= product.color %></td>
                                <td><%= product.state %></td>
                                <td>R$ <%= product.price %></td>
                                <td>
                                    <a href="/uploads/<%= imgUrl %>" target="_blank">
                                        <img src="/uploads/<%= imgUrl %>" alt="" class="thumbnail-size">
                                    </a>
                                </td>
                                <td>
                                    <a href="/product/edit/<%= product.id %>" class="edit-product-btn">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                </table>
            </div>
        <% } %>
    </div>
</div>
