<style media="screen">
    body {
        overflow-x: hidden;
    }
</style>
<!--/.Navbar-->
<section id="MainSection">
    <div class="container">
        <div class="back-button">
            <a href="../">
                <i class="fa fa-chevron-left"></i>
            </a>
        </div>
        <div class="title-of-page">
        </div>
        <div class="" id="Results">
            <div class="row">
                <% if(products.length == 0) {  %>
                    <p>Não há nenhum produto há venda no momento.</p>
                <% } else {  %>
                    <% _.each(products, function(product) {  %>
                        <% var productLogo = (product.Logo == null) ? '../img/nophoto.png' : '../models/' + product.Logo.photo; %>
                        <div class="col-sm-6 col-xs-6 col-md-3 each-result-parent">
                            <div class="each-result" product-id="<%= product.id %>">
                                <!--Card-->
                                <div class="">
                                    <!--Card image-->
                                        <a href="/details/<%= product.id %>" class="photo-section" data-img="<%= productLogo %>">
                                        </a>
                                    <!--Card content-->
                                    <div class="">
                                        <!--Title-->
                                        <h4 class="title"><%= product.ProductType.name %> <%= product.ProductType.version %> <%= product.storage %>GB</h4>
                                        <!--Text-->
                                        <!-- <span class="price">
                                            R$ <%= product.price %>
                                        </span> -->
                                    </div>
                                </div>
                                <!--/.Card-->
                            </div>
                        </div>

                    <% }) %>
                <% }  %>




            </div>
        </div>

    </div>

</section>

<script type="text/javascript">

</script>
