<style media="screen">
    body {
        overflow-x: hidden;
    }
</style>
<!--/.Navbar-->
<section id="MainSection">
    <div class="container">
        <div class="" id="Results">
            <div class="row">
                <% _.each(products, function(product) { %>
                    <% if (product.photo == null) { imgUrl = 'nophoto.png' }else{ imgUrl = product.photo } %>
                    <div class="col-md-3">
                        <div class="each-result" product-id="<%= product.id %>">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay hm-white-slight bg-image" data-img="/uploads/<%= imgUrl %>">
                                    <a href="/details/<%= product.id %>">
                                        <div class="mask"></div>
                                    </a>

                                </div>

                                <!--Card content-->
                                <div class="card-body">
                                    <div class="floating-card-button">
                                        <a href="/details/<%= product.id %>">
                                            <i class="fa fa-caret-right"></i>
                                        </a>
                                    </div>
                                    <!--Title-->
                                    <h4 class="card-title"><%= product.ProductType.name %> | <%= product.ProductType.version %></h4>
                                    <!--Text-->
                                    <p class="card-text">
                                        <span class="price">
                                            R$ <%= product.price %>
                                        </span>
                                    </p>

                                    <!-- <div class="card-actions">
                                        <a href="/product/details/<%= product.id %>" class="btn btn-primary btn-glass">Detalhes</a>
                                    </div> -->

                                </div>

                            </div>
                            <!--/.Card-->
                        </div>
                    </div>

                <% }) %>




            </div>
        </div>

    </div>

</section>

<script type="text/javascript">

</script>
