<style media="screen">
    body {
        overflow-x: hidden;
    }
</style>
<!--/.Navbar-->
<section id="MainSection">
    <div class="container">
        <div class="" id="Results">
            <div class="row">
                <% _.each(products, function(product) { sails.log(product); %>
                    <div class="col-md-3">
                        <div class="each-result" product-id="<%= product.id %>">
                            <!--Card-->
                            <div class="">
                                <!--Card image-->
                                    <a href="/details/<%= product.id %>">
                                        <img src="/models/<%= product.Logo.photo %>" alt="">
                                    </a>
                                <!--Card content-->
                                <div class="">
                                    <!--Title-->
                                    <h4 class="card-title"><%= product.ProductType.name %> | <%= product.ProductType.version %></h4>
                                    <!--Text-->
                                        <span class="price">
                                            R$ <%= product.price %>
                                        </span>
                                </div>
                            </div>
                            <!--/.Card-->
                        </div>
                    </div>

                <% }) %>




            </div>
        </div>

    </div>

</section>

<script type="text/javascript">

</script>
