
<style media="screen">
    table {
        border: 1px solid #e8e8e8;
        width:300px;
        text-align:left;
    }
    table th {
        padding:10px;
        text-align:left;
    }
</style>
<table width="600px" border="0" cellspacing="0" cellpadding="3" style="margin: 0 auto;">
      <tbody><tr>
        <td>
          <table width="100%" border="0" cellpadding="0" cellspacing="0" class="m_7189876045894100947m_8325095591191137417tamnho15">
            <tbody><tr>
              <td width="75%" rowspan="2" class="m_7189876045894100947m_8325095591191137417tamnho20">
                <img src="https://ci6.googleusercontent.com/proxy/_KX3PraUh5E0uSFNbP24KD3OQ94NsFQralCt0Zy7kKM_H2XgFN8pZ1c58iEH0qNL-SSFvoxzagv05jTvtPpwhruCWGekUAI=s0-d-e1-ft#http://sistemapineapple.com/layout/pineapplea.png" width="126" height="27" alt="" class="CToWUd">
              </td>
              <td width="25%" align="center" class="m_7189876045894100947m_8325095591191137417tamnho20">Nº: <%= sellingCod %></td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <tr>
        <td align="center" class="m_7189876045894100947m_8325095591191137417tamnho25"><strong style="font-size:26px;">Comprovante</strong></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          <table width="100%" border="0" cellpadding="3" cellspacing="0" class="m_7189876045894100947m_8325095591191137417tamnho12">
            <tbody>
            <tr>
              <td><b>Nome:</b> <%= receiverName %></td>
            </tr>
            <tr>
              <td><b>Email:</b> <%= receiverEmail %></td>
            </tr>
            <tr>
              <td><b>Contato:</b> <%= receiverPhone %></td>
            </tr>
            <tr>
              <td>
                  <b>Data:</b> <%= dateNow %>

              </td>
            </tr>
            <tr>
              <td>Forma de Pagamento: <%= paymentMethod %></td>
            </tr>
            <tr>
                <td></td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <strong>
                        <%= product.ProductType.name %>
                        <%= product.ProductType.version %>
                        <%= product.storage %>GB
                        <% if(product.state =="new") { %>
                            (Novo)
                        <% } else { %>
                            (Semi)
                        <% } %>
                            SN: <%= product.serial_number %>
                    </strong>
                </td>
            </tr>
            <tr>
                <td style="text-align:right">
                    <%= paymentMethod %> R$ <%= product.price %>
                </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td>
          <br>
        </td>
      </tr>
      <tr>
        <td>

        </td>
      </tr>
      <tr>
          <td style="text-align:center">
              <h2 style="text-align:center">ATENÇÃO</h2>
              <p>
                  Tempo de garantia é de 12 ou 06 Meses diretamente em nossa loja para aparelho
                  Novo ou Semi Novo respectivamente, a mesma será anulada caso seja constatado
                  que o dispositivo tenha sofrido qualquer dano de natureza elétrica, mal uso, uso
                  de algum carregador ou acessório não homologado no padrão Apple MFI®,
                  violação do lacre de garantia ou LCI (Selos de umidade), aberto por alguma
                  assistência ou efetuado serviço em terceiros, válido também para acessório
                  incluso com o produto.
              </p>
          </td>
      </tr>
      <tr>
        <td>
          <br>
          <span class="HOEnZb"><font color="#888888">
            </font></span><span class="HOEnZb"><font color="#888888">
          </font></span><table width="100%" border="0" cellpadding="3" cellspacing="0" class="m_7189876045894100947m_8325095591191137417tamnho10">
            <tbody><tr>
              <td align="center"><a href="https://maps.google.com/?q=Rua+Joaquim+Siqueira,+70+%7C+60170-080+%7C+Aldeota+%7C+Fortaleza-CE&amp;entry=gmail&amp;source=g" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://maps.google.com/?q%3DRua%2BJoaquim%2BSiqueira,%2B70%2B%257C%2B60170-080%2B%257C%2BAldeota%2B%257C%2BFortaleza-CE%26entry%3Dgmail%26source%3Dg&amp;source=gmail&amp;ust=1506181477466000&amp;usg=AFQjCNElsFlwYrz4q45mhulg9JmAzfXabg" data-mt-detrack-inspected="true">Rua Joaquim Siqueira, 70 | 60170-080 | Aldeota | Fortaleza-CE</a> - (85) 3244.0339 - CNPJ: 19.434.691/0001-60 <a href="mailto:sac@apineapple.com.br" target="_blank" data-mt-detrack-inspected="true">sac@apineapple.com.br</a> - <a href="http://apineapple.com.br" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://apineapple.com.br&amp;source=gmail&amp;ust=1506181477466000&amp;usg=AFQjCNEOz7JJp78_PTYVJfzO3qOAhMIwBg" data-mt-detrack-inspected="true">apineapple.com.br</a></td></tr></tbody></table><span class="HOEnZb"><font color="#888888">
        </font></span></td></tr></tbody></table>
