<section class="container" id="AddProduct">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">

                    <div class="errors">
                        <% if (req.session.flash && req.session.flash.error) { %>
                            <div class="alert alert-danger">
                                <%=req.flash('error')%>
                            </div>
                        <% } %>
                    </div>

                    <form id="ProductCreateForm" action="/product/create" method="post" enctype="multipart/form-data" class="form-product-new">
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="description" value="" id="DescriptionField">
                            <label for="DescriptionField">Descrição</label>
                        </div>
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="cost_price" value="" id="CostPriceField">
                            <label for="CostPriceField">Preço de Custo</label>
                        </div>
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="price" value="" id="PriceField">
                            <label for="PriceField">Preço</label>
                        </div>
                        <div class="form-group md-form">
                            <select class="form-control" type="text" name="color" value="" id="ColorField">
                                <% _.each(productColors, function(color) { %>
                                    <option value="<%= color.id %>"><%= color.name %></option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <input class="form-control" type="number" step="16" min="16" value="16" name="storage" value="" id="StorageField">
                                <label for="StorageField">Armazenamento</label>
                                <span class="input-group-addon" id="ColorFieldAddon">GB</span>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <select class="form-control" type="text" name="state" value="" id="StateField">
                                <option value="new">Novo</option>
                                <option value="used">Usado</option>
                            </select>
                        </div>


                        <div class="form-group md-form">
                            <select class="form-control" type="text" name="ProductType">
                                <% _.each(productTypes, function(type) { %>
                                    <option value="<%= type.id %>"><%= type.name %> <%= type.version %></option>
                                <% }) %>
                            </select>
                        </div>


                        <div class="form-group md-form">
                            <select class="form-control" type="text" name="Logo">
                                <% _.each(logos, function(logo) { %>
                                    <option value="<%= logo.id %>"><%= logo.title %> </option>
                                <% }) %>
                            </select>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>

                        <div class="form-group">
                            <button class="btn btn-primary btn-full-width margin-0" name="button">SALVAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
