<section class="container" id="AddProduct">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong style="line-height:40px;float:left">Atualizar produto</strong>
                    <div class="safe-zone">
                        <form action="/product/delete" method="post" id="FormDelete">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button class="btn btn-danger margin-0 btn-sm pull-right">EXCLUIR PRODUTO</button>
                        </form>
                    </div>                </div>
                <div class="card-body">
                    <form id="ProductEditForm" action="/product/update" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="description"  id="DescriptionField" value="<%= product.description %>">
                            <label for="DescriptionField">Descrição</label>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <span class="input-group-addon" id="CostPriceFieldAddon">R$</span>
                                <input class="form-control" type="text" name="cost_price" id="CostPriceField" value="<%= product.cost_price %>">
                                <label for="CostPriceField">Preço de Custo</label>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <span class="input-group-addon" id="ColorFieldAddon">R$</span>
                                <input class="form-control" type="text" name="price" value="<%= product.price %>" id="PriceField">
                                <label for="PriceField">Preço</label>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <small>Cor</small>
                            <select class="form-control" type="text" name="color" value="" id="ColorField">
                                <option value="white">Branco</option>
                                <option value="black">Preto</option>
                                <option value="grey">Cinza</option>
                                <option value="pink">Rosa</option>
                                <option value="red">Vermelho</option>
                                <option value="gold">Gold</option>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <input class="form-control" type="number" step="16" min="16" value="16" name="storage" value="" id="StorageField">
                                <label for="StorageField">Armazenamento</label>
                                <span class="input-group-addon" id="ColorFieldAddon">GB</span>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <small>Estado</small>
                            <select class="form-control" type="text" name="state" value="<%= product.state %>" id="StateField">
                                <% if (product.state == "new") { %>
                                    <option value="new" selected="selected">Novo</option>
                                    <option value="used">Usado</option>
                                <% } else { %>
                                    <option value="new" >Novo</option>
                                    <option value="used" selected="selected">Usado</option>                                <% } %>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <small>Tipo de Produto</small>
                            <select class="form-control" type="text" name="ProductType">
                                <% _.each(productTypes, function(type) { %>
                                    <% if (product.ProductType.id == type.id) { %>
                                        <option selected="selected" value="<%= type.id %>"><%= type.name %> <%= type.version %></option>
                                     <% } else { %>
                                         <option  value="<%= type.id %>"><%= type.name %> <%= type.version %></option>
                                     <% } %>

                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group md-form">
                            <small>Imagem</small>
                            <select class="form-control" type="text" name="Logo">
                                <% _.each(logos, function(logo) { %>
                                    <% if (product.Logo != null  && product.Logo.id == logo.id) { %>
                                        <option selected="selected" value="<%= logo.id %>"><%= logo.title %> </option>
                                     <% } else { %>
                                         <option value="<%= logo.id %>"><%= logo.title %> </option>
                                     <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <input type="hidden" name="sold" id="SoldInput" value="<%= product.sold %>">

                        <div class="md-checkbox pull-left">
                            <% if(product.sold) {%>
                                <input id="SoldCheckbox" type="checkbox" name="sold" value="true" checked="checked" >
                            <% } else { %>
                                <input id="SoldCheckbox" type="checkbox" name="sold" value="false">
                            <% } %>
                                <label for="SoldCheckbox">Vendido</label>
                        </div>


                        <div class="pull-right" id="SendSoldEmail">
                            <a href="#" class="btn btn-warning" product-id="<%= product.id %>">Enviar Comprovante <i class="fa fa-envelope-o"></i></a>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>

                        <br><br>
                        <button type="submit" class="btn btn-primary btn-full-width margin-0 pull-right" style="margin-top:20px;">SALVAR</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>
