<%
    var productStorages = ['16','32','64','128','256'];
 %>

<section class="container" id="AddProduct">
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong style="line-height:40px;float:left">Atualizar produto</strong>
                    <div class="safe-zone">
                        <form action="/product/delete" method="post" id="FormDelete">
                            <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>
                            <input type="hidden" name="id" value="<%= product.id %>">
                            <button class="btn btn-danger margin-0 btn-sm pull-right">EXCLUIR PRODUTO</button>
                        </form>
                    </div>
                </div>
                <div class="card-body">
                    <form id="ProductEditForm" action="/product/update" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="description"  id="DescriptionField" value="<%= product.description %>">
                            <label for="DescriptionField">Descrição</label>
                        </div>
                        <div class="form-group md-form">
                            <input class="form-control" type="text" name="serial_number" value="" id="SerialField" value="<%= product.serial_number %>">
                            <label for="SerialField">Número de Série</label>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <span class="input-group-addon" id="CostPriceFieldAddon">R$</span>
                                <input class="form-control" type="text" name="cost_price" id="CostPriceField" value="<%= product.cost_price %>">
                                <label for="CostPriceField">Preço de Custo</label>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <div class="input-group">
                                <span class="input-group-addon" id="ColorFieldAddon">R$</span>
                                <input class="form-control" type="text" name="price" value="<%= product.price %>" id="PriceField">
                                <label for="PriceField">Preço</label>
                            </div>
                        </div>
                        <div class="form-group md-form">
                            <small>Cor</small>
                            <select class="form-control" type="text" name="color" value="" id="ColorField">
                                <% _.each(productColors, function(color) { %>
                                    <% if(color.id == product.color) {%>
                                        <option value="<%= color.id %>" selected="selected"><%= color.name %></option>
                                    <% } else { %>
                                        <option value="<%= color.id %>"><%= color.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <small>Armazenamento</small>
                            <select class="form-control" name="storage">
                                <% _.each(productStorages, function(storage) { %>
                                    <% if(storage == product.storage) {%>
                                        <option value="<%= product.storage %>" selected="selected"><%= product.storage %>GB</option>
                                    <% } else { %>
                                        <option value="<%= storage %>"><%= storage %>GB</option>
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <small>Estado</small>
                            <select class="form-control" type="text" name="state" value="<%= product.state %>" id="StateField">
                                <% if (product.state == "new") { %>
                                    <option value="new" selected="selected">Novo</option>
                                    <option value="used">Usado</option>
                                <% } else { %>
                                    <option value="new" >Novo</option>
                                    <option value="used" selected="selected">Usado</option>                                <% } %>
                            </select>
                        </div>
                        <div class="form-group md-form">
                            <small>Modelo</small>
                            <select class="form-control" type="text" name="ProductType">
                                <% _.each(productTypes, function(type) { %>
                                    <% if (product.ProductType.id == type.id) { %>
                                        <option selected="selected" value="<%= type.id %>"><%= type.name %> <%= type.version %></option>
                                     <% } else { %>
                                         <option  value="<%= type.id %>"><%= type.name %> <%= type.version %></option>
                                     <% } %>

                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group md-form">
                            <small>Foto</small>
                            <select class="form-control" type="text" name="Logo">
                                <% _.each(logos, function(logo) { %>
                                    <% if (product.Logo.id == logo.id) { %>
                                        <option selected="selected" value="<%= logo.id %>"><%= logo.title %> </option>
                                     <% } else { %>
                                         <option value="<%= logo.id %>"><%= logo.title %> </option>
                                     <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <input type="hidden" name="sold" id="SoldInput" value="<%= product.sold %>">

                        <div class="md-checkbox pull-left">
                            <% if(product.sold) {%>
                                <input id="SoldCheckbox" type="checkbox" name="sold" value="true" checked="checked" >
                            <% } else { %>
                                <div id="SendSoldEmail">
                                    <a href="#" class="btn btn-warning" product-id="<%= product.id %>" csrf="<%= _csrf %>">Enviar Comprovante <i class="fa fa-envelope-o"></i></a>
                                </div>
                            <% } %>
                        </div>

                        <div id="EmailSentSuccess">
                            <div class="alert alert-success" style="clear: both;">
                                Comprovante enviado para <b id="ReceiverEmail"></b> com sucesso! <i class="fa fa-check color-green"></i>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf" value="<%= _csrf %>"></input>

                        <br><br>
                        <button type="submit" class="btn btn-primary btn-full-width margin-0 pull-right" style="margin-top:20px;">SALVAR</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="SendSoldEmailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <b>Informe os dados do cliente</b>
            </div>
            <div class="modal-body">
                <div class="form-group md-form">
                    <label for="NameField">Nome:</label>
                    <input id="NameField" type="text" name="" value="" class="form-control">
                </div>
                <div class="form-group md-form">
                      <label for="EmailField">E-mail:</label>
                      <input id="EmailField"  type="email" name="" value="" class="form-control">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="SendReceiptBtn">Enviar Comprovante <i class="fa fa-envelope-o"></i></button>
            </div>
        </div>
    </div>
</div>
